<!DOCTYPE html>
<html>
<head>
	<title>Sobre</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	 	a:hover{text-decoration: none;}
	</style>
</head>
<body>
	
	<div id="bckgrd" class="wrapper">
		<img id="sobreimg" class="center" src="<%= asset_path('ame_about3.jpg') %>">

		  <p align="center"><h1 id="title">Ambulatório Médico de Especialidade de Franca<br> AME Franca </h1></center> <br>
			<h4 id="subtitle"><p id="corpo">O AME é um ambulatório de diagnóstico e orientação terapêutica em especialidades médicas, de alta resolutividade, com ênfase nas necessidades da rede básica, e que proporciona atendimento de forma acessível ao cidadão através da prestação de um conjunto de serviços que garantam uma intervenção rápida e eficaz para promover o diagnóstico precoce e orientar a terapêutica frente a problemas de saúde prevalentes, atendendo a necessidade regional.</p>
			<p id="corpo">O Ambulatório Médico de Especialidades “Dr. Cirilo Barcelos” – AME Franca é gerenciado pela OSS Santa Casa de Misericórdia de Franca, Hospital Ensino reconhecido pelo MEC, através de Contrato de Gestão firmado com a Secretaria do Estado de Saúde (SES)-SP, este contrato discrimina as atribuições, responsabilidades e obrigações na operacionalização da gestão, compreendendo a execução das atividades e serviços de assistência à saúde, bem como a sistemática econômico-financeira da gestão. </p>
			<p id="corpo">A execução dos recursos, repassados a título de custeio e investimento, é realizado exclusivamente pelo próprio AME Franca, que se encarrega das compras, contratos de terceiros, recebimento de mercadorias, administração do almoxarifado e farmácia. Possui todos os departamentos na própria unidade: financeiro, contabilidade, administração de pessoal e SESMT, compras, assessoria de qualidade e humanização. </p>
			<p id="corpo">O AME Franca iniciou suas atividades em 13 de dezembro de 2010 e foi inaugurado oficialmente em 28 de fevereiro de 2011.  </p>
			<p id="corpo">Possui características e dinâmicas especiais, orientados pela Secretaria de Saúde do Estado de São Paulo fortalecendo a rede de atendimento à saúde no Estado de São Paulo. </p>
			<p id="corpo">O Ame Franca conta atualmente com 22 especialidades medicas e 7 especialidades não médicas, com uma média de 600 pacientes por dia, entre atendimentos de consultas, exames de diagnósticos e cirurgias ambulatoriais. </p>
			<p id="corpo">No Planejamento estratégico, com a presença de várias lideranças, foi definida a Missão, Visão e Valores do AME Franca. </p></h4><br>
			<p >
				<h3 id="sub">MISSÃO</h3>
			</p>

			<h4 id="subtitle"> <p id="corpo"> Prestar atendimento ambulatorial especializado, humanizado e de qualidade aos usuários do SUS, com responsabilidade social, ambiental e financeira.</p>
			</h4><br>
			
			<p >
				<h3 id="sub">VISÃO</h3>
			</p>

			<h4 id="subtitle"> <p id="corpo"> Atingir a excelência dentro dos padrões estabelecidos pelo programa Compromisso com a Qualidade Hospitalar.</p>
			</h4><br>

			<p >
				<h3 id="sub">VALORES</h3>
			</p>

			<h4 id="subtitle">
				<ul class="disc">
					<li>Manter atitude responsável comprometida, disciplinada e colaborativa.</li>
					<li>Praticar a humanização do atendimento e das relações com equidade.</li>
					<li>Atuar com ética, honestidade e dentro dos princípios da legalidade.</li>
					<li>Cultivar a transparência e o respeito nas relações com a sociedade.</li>
					<li>Manter um ambiente harmonioso, com dignidade, respeito, valorização e motivação dos seus colaboradores.</li>
				</ul>
			</h4><br>

	</div>
</body>
</html>














