<!DOCTYPE html>
<html>
<head>
	<title>Edital</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	 	a:hover,
    a:visited,
    a:active,
    a:link {
      text-decoration: none;
    }
    body{font-family: 'Roboto', sans-serif;}
	</style>
</head>
<body>

</body>
</html>


<h1>Pages#edital</h1>
<p>Find me in app/views/pages/edital.html.erb</p>
