<!DOCTYPE html>
<html>
	<head>
	  <title>Home</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta charset="UTF-8">
	  <style>
		 	a:hover,
		  a:visited,
		  a:active,
		  a:link {
		    text-decoration: none;
		  }
		  body{font-family: 'Roboto', sans-serif;}
		</style>
	</head>
	<body>
		<div class="jumbotron" id="jumbo" >
			<h2 id="title">Bem vindo!</h2>
			<h4></h4>
			<div class="container" >
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	  			<div class="carousel-inner">
				    <div class="carousel-item active">
				      <a href="/novembroAzul"><img class="d-block w-100" src="<%= asset_path('CarouselSlide2.jpg') %>" alt="First slide">
				      <div class="carousel-caption d-none d-sm-block">
			          <h6>Novembro Azul</h6>
			          <h5>Mês de Conscientização a Saúde do Homem!</h5>
			        </div></a>
				    </div>
				    <div class="carousel-item">
				      <a href="/outubroRosa"><img class="d-block w-100" src="<%= asset_path('outRosa.png') %>" alt="Second slide">
				      <div class="carousel-caption d-none d-sm-block">
			          <h6>Outubro Rosa</h6>
			          <h5>A detecção precoce pode salvar sua vida!</h5>
			        </div></a>
				    </div>
				    <div class="carousel-item">
				      <a href="/galery"><img class="d-block w-100" src="<%= asset_path('banner1.jpg') %>" alt="Third slide">
				      <div class="carousel-caption d-none d-sm-block">
			          <h6>Ame Franca</h6>
			          <h5>Conheça um pouco da nossa estrutura!</h5>
			        </div></a>
				    </div>
				  </div>
				  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
		</div>
	</body>
</html>
