<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sobre</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			h5{
				font-weight: bold;
			}

		 	a:hover,
	    a:visited,
	    a:active,
	    a:link {
	      text-decoration: none;
	    }
	    body{font-family: 'Roboto', sans-serif;}
    </style>
	</head>
	
	<body>
		<div id="bckgrd"  class="col-lg-12">
		<br>
			<h3 id="titlenews" > Notícias </h3>
			<div class="col-lg-12" id="topics" >
				<div class="col-md-3">
					<a href="/novembroAzul"> <img class="img-responsive" id="thumb" src="<%= asset_path('CarouselSlide2.jpg') %>" > </a>
				</div>
				<div class="col-md-9" id="description" align="left" >
					<a href="/novembroAzul" style="color: black"> <h6> 07/11/2016</h6> <p> <h5> Novembro Azul 2016!</h5> </p> </a>
				</div>
			</div>
			<div class="col-lg-12" id="topics" >
				<div class="col-md-3">
					<a href="/outubroRosa"> <img class="img-responsive" id="thumb" src="<%= asset_path('outRosa.png') %>" > </a>
				</div>
				<div class="col-md-9" id="description" align="left" >
					<a href="/outubroRosa" style="color: black"> <h6> 06/10/2016</h6> <p> <h5> O diagnóstico precoce pode salvar sua vida!</h5> </p> </a>
				</div>
			</div>
			<div class="col-lg-12" id="topics" >
				<div class="col-md-3">
					<a href="/galery"> <img class="img-responsive" id="thumb" src="<%= asset_path('banner1.jpg') %>" > </a>
				</div>
				<div class="col-md-9" id="description" align="left" >
				<a href="/galery" style="color: black"><h6> 17/08/2016</h6> <p> <h5> Selecionamos algumas imagens para você conhecer melhor o AME Franca, confira! </h5></p> </a>
				</div>
			</div>
			<div class="col-lg-12" id="topics" >
				<div class="col-md-3">
					<a href="/dengue"> <img class="img-responsive" id="thumb" src="<%= asset_path('CarouselSlide.jpg') %>" > </a>
				</div>
				<div class="col-md-9" id="description" align="left" >
					<a href="/dengue" style="color: black"> <h6> 17/08/2016</h6> <p> <h5> Confira aqui algumas dicas de como combater o mosquito.</h5> </p> </a>
				</div>
			</div>
			
		</div>
	</body>

	<footer>
	</footer>

</html>