<!DOCTYPE html>
<html>
	<head>
		<title>Portal da Transparência</title>
		<style>
		 	a:hover,
	    a:visited,
	    a:active,
	    a:link {
	      text-decoration: none;
	    }
	    body{font-family: 'Roboto', sans-serif;}
	    ::-webkit-inner-spin-button,
	    ::-webkit-calendar-picker-indicator {
	        display: none;
	        -webkit-appearance: none;
	    }
		</style>
	</head>
	<body>

		<div id="searchBox" class="container">
			<div class="box">
				<h2 id="titulo">Remunerações AME Franca</h2><br>
			  <form action="/remuneracaos" autocomplete="off" accept-charset="UTF-8" method="get">
			  	<input name="utf8" type="hidden" value="✓">
			    <label for="nome">Nome</label>
			    <input type="text" name="nome" id="textfield" required="required" minlength="6" placeholder="Digite o nome:" class="form-control"><br>
			    <label for="Cargo">Cargo</label>
			    <input type="text" name="cargo" id="textfield" placeholder="Digite o cargo:" class="form-control"><br>
			    <label for="competencia">Competência</label>
			    <input type="month" id=textfield name="competencia" required="required" class="form-control">
    	    <br>
    	    <div class="form-group">
  	        <label for="estabelecimento">Estabelecimento</label>
  	        <select class="form-control" required="required" name="estabelecimento" id="estabelecimento">
  	        	<option disabled selected value> Selecione uma opção </option>
  	          <option>AME FRANCA</option>
  	          <option>AME TAQUARITINGA</option>
  	        </select>
    	    </div>
			    <div align="center" id="botao_enviar">
			      <input type="submit" value="Buscar" class="btn btn-primary" data-disable-with="Search" >
			    </div>
			  </form>
			</div>
		</div>
		<script>
			monthInput.addEventListener('keydown', function(event) {
		  	if (event.keyIdentifier == "Down") {
		      event.preventDefault()
		    }
			}, false);
		</script>
	</body>
</html>