<!DOCTYPE html>
<html>
<head>
	<title>Portal da Transparência</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	 	a:hover{text-decoration: none;}
	</style>
</head>
<body>

</body>
</html>

<h1>Pages#transparency</h1>
<p>Find me in app/views/pages/transparency.html.erb</p>
