<html>

 <head>
	 <style>
	 h1 {color: rgb(200,0,55); text-align: center; }
	 h2 {color: rgb(0,20,100); text-align: center;}
	 p {text-align: center;}
	 </style>

 	<META HTTP-EQUIV="REFRESH" CONTENT="10; URL=http://amefranca.herokuapp.com">

 </head>

 <body>
 	<div class="skinny_wrapper wrapper_padding">
		<h1>Obrigado pela sua mensagem!</h1>
		<p>Você será redirecionado(a) automaticamente para a página inicial...</p>
	</div>
 </body>

 </html>