// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3{
	text-align: center;
}
#thumbimg{
	border-radius: 6px;
	max-width: 300px;
}
#adata{
	font-size: 9pt;
}
#atitle{
	width: 500px;
	vertical-align: middle;
	padding-left: 10px;
}
th{
	font-size: 11pt;
}
td{
	font-size: 12pt;
}