// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* All Pages */
body{
  font-family: 'Roboto', sans-serif;
}

.center{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#bckgrd{
	background-color: white; 
	margin-right: auto;
	margin-left: auto;
	display: block;
	opacity:0.8;
	border-radius: 25px;
	padding: 20px;
}

#bckgrd-galery{
	background-color: white; 
	margin-right: auto;
	margin-left: auto;
	display: block;
	border-radius: 25px;
	padding: 20px;
}

#links{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#thumb{
	margin-bottom: 5px;
	max-height: 138px;
	border-radius: 9px;
}

/*Page About */ /*Page About */ 

#corpo {
	text-align: justify; 
  text-indent: 2em;
}
#titleabout {
	color: rgb(0,20,100); 
  font-weight: bold; 
  text-align: center;
}
#subtitle {
	color: rgb(0,0,0);
}


/* Carousel Slide CSS */ /* Page Galery */ 

/*Filtro B&W */
.bw {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.bw:hover {
  -webkit-filter: sepia(100%);
}


/* Slide from Home pages */ /* Slide from Home pages */ /* Slide from Home pages */ /* Slide from Home pages */ /* Slide from Home pages */

.carousel-caption{ 
  background-color: rgba(0,0,0,0.3); 
  height: 110px; 
  padding: 0px;
  margin: 0px;
}
#carousel-example-generic{
  margin-bottom: 10px;
}
#jumbo{
  margin: 1px;
  background: rgba(255,255,255,0.7);
  padding: 1px;
}
#title{
  margin: 2px;
  padding-left: 15px;
  font-size: 25pt;
}
#links{
  padding-top: 10px;
}
#titleCaption{
  font-size: 20pt;
  margin: 0;
}

@media only screen and (max-width: 700px) {
    #divCaption{ display: none !important; }
}

/* Page Infos */

#heading{
  background-color: #2098d1;
}
.panel-body{
  background-color: rgba(211,211,211,0.7);
}
#subl{
  text-decoration: underline;
}
#sobreimg{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bs-example{ 
  margin: 20px;
}
#frametexto{
  background-color: rgba(255,255,255,0.5); 
  position: absolute; 
  z-index:-1; 
  top:0; 
  left:0; 
  right:0; 
  bottom:0; 
  opacity:0.8;
  border-radius: 25px;
}
#corpoq {text-align: center; text-indent: 2em; margin-left: 30px; margin-right: 30px; color: black; font-size: 15px;}
#sub {
  color: rgb(0,20,100); 
  font-weight: bold; 
  text-align: center;
}
#texto{
  background: white;
  opacity: 0.8;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 7px;
  border-radius: 25px;
}
#thumbhome{
  margin-bottom: 5px;
}

/* Replace PNGs with SVGs for capable browsers (excluding IE<9) */
body:last-child .blueimp-gallery > .slides > .slide-error {
  background-image: url("error.svg");
}
body:last-child .blueimp-gallery > .play-pause {
  width: 20px;
  height: 20px;
  background-size: 40px 20px;
  background-image: url("play-pause.svg");
}
body:last-child .blueimp-gallery-playing > .play-pause {
  background-position: -20px 0;
}

/* IE7 fixes */
*+html .blueimp-gallery > .slides > .slide {
  min-height: 300px;
}
*+html .blueimp-gallery > .slides > .slide > .slide-content {
  position: relative;
}
#links{
  padding-top: 10px;
}


/* News Page */
#thumbnews{
  max-height: 100px;
  margin-top: 20px;
}
#description{
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 100px;
}
#topics{
  padding: 20px;
}
#titlenews{
  text-align: center;
  font-weight: bold;
}

/* Contact Page */
#texto{
  background: gray;
  opacity: 0.8;
  font-size: 48px;
  padding-left: 20px;
  padding-top: 7px;
  border-radius: 15px;
}
legend{
  font-weight: bold;
  text-align: center;
}
#Contato{
  background-color: white; 
  position: absolute; 
  z-index:-1; 
  top:0; 
  left:0; 
  right:0; 
  bottom:0; 
  opacity:0.6;
  border-radius: 25px;
}
#sau{
  margin-left: 10px;
  border-radius: 25px;
}

#fone{
  font-weight: bold;
  font-size: 17pt;
}
#titulo{
  font-weight: bold;
  color: #001464;
  font-size: 17pt;
}
#botao_enviar{
  margin-top: 25px
}

#map{
  margin-top: 5px;
}
@media only screen and (max-width: 700px) {
  #map{ width: 250px; }
}

/* Intranet Page */

#backgroundTransparentIntra{
  background-color: rgba(255,255,255,0.5); 
  position: absolute;
  z-index:-1; 
  top:0; 
  left:0; 
  right:0; 
  bottom:0; 
  opacity:0.8;
  border-radius: 25px;
}
#mural{
  background-image: url("quadroNegro.jpg");
  border-radius: 10px;
  padding: 7px;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#topics{
  font-family: "Architects Daughter";
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin-left: 7px;
}
#muralTitle{
  text-align: center;
  font-family: "Carter One";
  font-size: 22px;
  
}
a:hover{
  text-decoration: none;
}
#qualidade{
  background-color: rgb(21, 97, 132);
  border-radius: 10px;
  height: 100px;
  max-width: 90px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 0;
}
#iconIntra{
  position: absolute;
  left: 18%;
  top: 7%;
  color: rgb(173, 235, 233);
}
#titleSmall{
  font-weight: bold;
  font-size: 10pt;
  color: rgb(173, 235, 233);
  text-align: center;
}
#frameIntra{
  padding: 0px;
  margin: 0px;
}
iframe{
  height: 400px;
  border-radius: 10px;
  border-color: red;
}
#birthday{
  margin-bottom: 10px;
  max-height: 400px;
}
#sobreposto{
  z-index: 1;
  position: absolute;
  padding-left: 20px;
}
#aniversariantes{
  z-index: 1;
  position: absolute;
  right: 30px;
  text-align: right;
  text-shadow: 2px 2px 3px blue;
  color: white;
}
#mes{
  z-index: 1;
  position: absolute;
  padding-left: 353px;
  top: 8px;
}
#outter{
  padding-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    #divAniversario{display: none !important;}
}
#containerFrame{
  margin-top: 10px;

}

/* Transparency page */
#textfield{
  max-width: 500px;
  max-height: 40px;
  border-radius: 9px;
  background-color: rgba(0,0,0,0.2);
  border-color: transparent;
}
#searchBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  width: 400px;
  height: 400px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-radius: 10px;
}
